@import "tailwindcss";

@theme {
  /* Colors */
  --color-brand-green: #31482f;
  --color-brand-green-dark: #223421;
  --color-brand-black: #050505;
  --color-brand-gray: #1c1c1e;
  --color-brand-white: #fcfcfc;

  /* Fonts */
  --font-sans: var(--font-inter);
}

@layer base {
  :root {
    --background: var(--color-brand-black);
    --foreground: var(--color-brand-white);
  }

  model-viewer > #ar-prompt {
    display: none;
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }

  /* Utility classes for glassmorphism */
  .glass {
    @apply bg-white/5 backdrop-blur-xl border border-white/10;
  }

  .glass-dark {
    @apply bg-black/40 backdrop-blur-xl border border-white/10;
  }
}

/* Hide scrollbar for review scroller & general clean aesthetic */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-brand-green);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-green-dark);
}
